* {
  padding: 0;
  margin: 0;
}

.game-objective {
  height: 100vh;
  background-image: url("../images/village.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

#game-intro {
  font-family: "Press Start 2p";
  text-align: center;
  padding: 30px 50px;
  color: #d8d9da;
}
p {
  padding: 0 0 30px 0;
  text-align: justify;
  font-size: bold;
  font-weight: 2em;
}

#game-container {
  justify-content: center;
  align-items: center;
}

#game-screen {
  display: none;
  width: 50%;
  position: relative;
  height: 40%;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  /* background-color: aqua; */
  background-image: url("../images/bg-img5.jpg");
  /* animation: slide 20s linear infinite; */
}

@keyframes slide {
  0% {
    background-position: -50px 0;
  }
  50% {
    background-color: pink;
    background-position: -500px;
  }
  90% {
    background-image: url("../images/bg-img3.jpg");
    background-position: -90px 0px;
  }
  100% {
    background-position: 0px 0;
  }
}

h1 {
  font-family: "Great Vibes", cursive;
  font-size: 7rem;
  text-align: center;
  font-weight: bolder;
  padding: 20px 0;
  /* background: linear-gradient(
    0deg,
    rgba(255, 174, 0, 1) 0%,
    rgba(255, 0, 0, 1) 100%
  ); */
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

button {
  font-family: "Press Start 2p";
  font-size: 2em;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  background-color: #161a30;
  color: #b6bbc4;
  border-radius: 10px;
  cursor: pointer;
  text-transform: uppercase;
}
h3 {
  margin: 30px 0;
}
#game-end {
  display: none;
}
