* {
  padding: 0;
  margin: 0;
}

#game-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#game-screen {
  width: 100%;
  height: 100vh;
  display: none;
  /* width: 50%; */
  position: relative;
  /* height: 40%; */
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  /* background-color: aqua; */
  background-image: url("../images/bg-img5.jpg");
  animation: 20s linear infinite;
}

@keyframes slide {
  0% {
    background-position: -50px 0;
  }
  50% {
    background-color: pink;
    background-position: -500px;
  }
  90% {
    background-image: url("../images/bg-img3.jpg");
    background-position: -90px 0px;
  }
  100% {
    background-position: 0px 0;
  }
}

body button {
  font-size: 30px;
  background-color: #870007;
  color: #fff;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
}
/* @keyframes slide {
  from {
    background-position: 0;
  }
  to {
    background-position: -100;
  }
} */
/* 
#game-screen {
  width: 50%;
  height: 40%;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;

  position: relative;
  display: none;
  animation: 50s slide infinite linear;
} */
